.App {
  margin: auto;
  padding-left: 10px;
  text-align: left;
  width: 400px;
}
.selectChar {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  font-size: 25px;
  text-align-last: center;
  background-color: cornflowerblue;
}

.CardChar div {
  background-color: rgba(011, 211, 11, 0.2);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px 0;
}
.CardChar h2 {
  padding: 0;
  margin: 0;
}
.SelectGender {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SelectGender button {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 10px;
}
label {
  display: inline-block;
}
.btnFalse {
  color: red;
}
.btnTrue {
  color: green;
}
