body * {
  font-family: cursive;
}
.App {
  margin: auto;
  width: 400px;
}
.selectChar {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  font-size: 25px;
  text-align-last: center;
  background-color: cornflowerblue;
}
.CardChar {
  text-indent: 5px;
}
.CardChar div {
  background-color: rgba(113, 177, 236, 0.2);
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 10px 0;
  font-weight: bold;
}

.SelectGender {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SelectGender button {
  font-size: 18px;
  margin-left: 20px;
  border-radius: 10px;
}
label {
  display: inline-block;
}
.btnFalse {
  color: red;
}
.btnTrue {
  color: green;
}
.showMessage {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
